*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

  /* Quick Selection */
  
  .flex{display: flex;}
  .lst{list-style-type: none;}




  /****** HEADER *****/


header{
    width: 100vw;
    height: 25px;
    background-color: black;

    
}
.navbar{
    justify-content: flex-end;

}

.b1 {
    background-color: #4a4a4a;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.b2{
    background-color: #4a4a4a;
    color: white;
    padding: 3px;
    border-radius: 5px;
}


/***** MAIN IMG REPETITIVE *******/
main{
    width: 100vw;
    height: calc(100vh - 105px);
    background-color: black;
}










/***** FOOTER NAV SELECTION *******/

footer{
    width: 100vw;
    height: 80px;
    background-color: #222222;
}

